name: Keep Render Awake

on:
  schedule:
 
    - cron: '*/14 * * * *'
  workflow_dispatch: 

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Backend
        run: curl -s https://devhire-backend-ewec.onrender.com/api/health
      
      - name: Ping Frontend
        run: curl -s https://devhire-frontend.onrender.com/
